* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;

}

.img-banner {
    width: 100%;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size:50px;
    color: #111;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size:16px;
    color: #111;
    line-height: 24px;
}

.img-menu {
    width:100%;
}


/* PARALLAX FORMATTING FOR MOBILE */

.card {
    height: 100px;
    width:100%;
    background-color:darkslategray;
    background: scroll;
}

.body {
    font: 100% / 1.5 monospace;
    background: black;
}

#content{
    background:none;
}

.parallax {
    font-size: 200%;
}

.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax_group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax_layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 5;
}

.parallax_layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
    vertical-align: middle;
    line-height: 90px;
}

.parallax_layer--back { 
    -webkit-transform: translate(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax_layer--deep { 
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}


#group1 {
    width:100%;
    z-index: 5;
}
#group1 .parallax_layer--base{
    width:100%;
}
#group1 .parallax_layer--back{
    width:100%;
}
#group1 .parallax_layer--deep{
    width:100%;
    background: black;
}

#group2 {
    width:100%;
    z-index: 3;
}
#group2 .parallax_layer--fore{
    width:100%;
    color:ivory;
    font-size: 400%;
}
#group2 .parallax_layer--base{
    width:100%;
    background:black;
    
}


/* MISC */

.imageContainer {
    width:100%;
    height:100%;
    background-image:url("https://harbor.band/Harbor/images/harbor_live_poster.png");
}

a {
    -webkit-transition: color 1s;
    transition: color 1s;
    color:crimson;
    text-decoration: none;
}
a:hover {
    color:ivory;
}

ul { 
    display: inline-block;
    list-style-type: none;
    padding-left: 10%;
}