.body {
    background-image: url("https://mat-foucher.github.io/Harbor/images/harbor1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-body { 
    background-color: #000080;
}

.home-body {
    background-color: #000000;
    text-align: center;
    color:blue;
    
}

.card {
    background-color: #000080;
}