/* BASIC HTML MODS  */

html {
    scroll-behavior: smooth;
}

ul { 
    list-style-type: none;
}

li {
    color: ivory;
}

a {
    -webkit-transition: color 1s;
    transition: color 1s;
    color: ivory;
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}

label .navigation {
    width: 15%;
}

/* PARALLAX FORMATTING */

.card {
    height: 500px;
    background-color:darkslategray;
    background: scroll;
}

.body {
    font: 100% / 1.5 Arial;
    background: black;
}

.parallax {
    font-size: 200%;
}

.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax_group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax_layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax_layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
    text-align: left;
    vertical-align: middle;
    line-height: 90px;
}

.parallax_layer--back { 
    -webkit-transform: translate(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax_layer--deep { 
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

/* LOADING ICON(S) */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff0000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* GIF LOADING ICON */
#loading {
    background: url('https://mat-foucher.github.io/Harbor/images/reticle-loadfinal.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

/* ---------------- */

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#loadicon {
    display: none;
    text-align: center;
}

/* Text Formatting */
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sub-title {
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*------------------------ GROUP FORMATTING CSS ------------------------*/

#group1 {
    z-index: 5;
}
#group1 .parallax_layer--base{
    background: black;
}

#group2 {
    z-index: 3;
}
#group2 .parallax_layer--back{
    color:ivory;
    font-size: 400%;
}
#group2 .parallax_layer--deep{
    background-image: url('https://mat-foucher.github.io/Harbor/images/stage1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#group3 {
    z-index: 4;
    color: ivory;
    display: flex;
    justify-content: center;
}
#group3 .parallax_layer--base{
    background: black;
}

#group4 {
    z-index:3;
}
#group4 .parallax_layer--base{
    color: ivory;
}
#group4 .parallax_layer--back{
    background:black;
}

#group5 {
    z-index:5;
    color:ivory;
    display: flex;
    justify-content:center;
}
#group5 .parallax_layer--base{
    background: black;
}

#group6 {
    z-index: 2;
    color: ivory;
    display: flex;
    justify-content: center;
}
#group6 .parallax_layer--deep {
    background: black;
}

#group7 {
    z-index: 2;
    color: ivory;
    display: flex;
    justify-content: center;
}
#group7 .parallax_layer--base {
    background: black;
}

/* FLEXBOXERS */

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container > div {
    width: auto;
}

/* ---------- */