body {
    background-color: #36454f;
    background-image: url('/images/harbor1.jpg');
}

.card-body { 
    background-color: #000080;
}

.home-body {
    background-color: #000000;
    text-align: center;
    color:blue;
    
}

.card {
    background-color: #000080;
}